---
global:
  # -- registry secret names as an array
  imagePullSecrets: []

# -- String to partially override azure-resourcegraph-exporter.fullname template (will maintain the release name)
nameOverride: ''

# -- Allow to override the release namespace
namespaceOverride: ''

# -- String to fully override azure-resourcegraph-exporter.fullname template
fullnameOverride: ''

# -- Number of amazon-eks-pod-identity-webhook replicas to deploy
replicas: 1

image:
  # -- image registry
  registry: docker.io
  # -- image repository
  repository: webdevops/azure-resourcegraph-exporter
  # -- image tag (immutable tags are recommended).
  # @default -- `.Chart.AppVersion`
  tag: ""
  sha: ""
  pullPolicy: IfNotPresent

minReadySeconds: 10
terminationGracePeriodSeconds: 60
automountServiceAccountToken: true

# -- define env
env:
  CONFIG: /config/config.yaml
  # DEBUG: "true"
  # VERBOSE: "true"

# -- Array with extra environment variables to add to all the pods
extraEnv: []
  # - name: REDIS_PASSWORD
  #   valueFrom:
  #     secretKeyRef:
  #       key: redis-password
  #       name: redis-config-0.0.2

secrets: {}
  # secretName: secretValue

# -- Render all secrets values though helm tpl function
secretsEnableTemplateFunctions: false

resources:
  # -- The resources limits for the container
  limits:
    memory: 200Mi
  # -- The resources requests for the container
  requests:
    cpu: 100m
    memory: 200Mi

# -- Node labels for pod assignment.
nodeSelector:
  kubernetes.io/os: linux

# -- Affinity for pod assignment
affinity: {}

# -- Tolerations for pod assignment.
tolerations: []

restartPolicy: Always
priorityClassName: ""

config:
  # -- Name of existing configmap
  existingConfigMap: ""
  # -- Configuration of modules
  modules:
    "":
      enabled: true
      cache: 0
    # modulename:
    #   enabled: true
    #   cache: 1h
  # -- Configuration of queries
  queries: {}
    # azurerm_subscription_info:
    #   metric: azurerm_subscription_info
    #   query: |-
    #     ResourceContainers
    #     | where type == "microsoft.resources/subscriptions"
    #   value: 1
    #   fields:
    #     - name: name
    #     - name: subscriptionId
    #       target: subscriptionID
    #       type: id
    #   defaultField:
    #     type: ignore

# -- startupProbe
startupProbe: {}
#   tcpSocket:
#     port: http-metrics
#   initialDelaySeconds: 15
#   periodSeconds: 10
#   failureThreshold: 5

# -- livenessProbe
livenessProbe:
  httpGet:
    path: /healthz
    port: http
# -- readinessProbe
readinessProbe:
  httpGet:
    path: /readyz
    port: http

serviceAccount:
  create: true
  automountServiceAccountToken: false
  name: ""
  labels: {}
  annotations: {}

# -- Customize the strategy if set
strategy: {}

podLabels: {}
podAnnotations: {}

# -- Pod Security Context
securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  supplementalGroups: [1000]
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

# -- Container Security Context
containerSecurityContext:
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080
  appProtocol: http
  nodePort:
  portName: http-metrics
  annotations: {}
  labels: {}

netpol:
  # -- Enable network policy
  enabled: true
  # -- Define network policy types
  policyTypes:
    - Ingress
    - Egress
  # -- Define network policy ingress
  ingress: []
  # -- Define network policy egress
  egress:
    # DNS
    - ports:
      - port: 53
        protocol: TCP
    - ports:
      - port: 53
        protocol: UDP
    # HTTPS (Azure REST api)
    - ports:
      - port: 443
        protocol: TCP

extraVolumes: []
extraVolumeMounts: []

prometheus:
  monitor:
    enabled: false

    jobLabel: ""

    scheme: http
    basicAuth: {}
    bearerTokenFile:
    tlsConfig: {}

    ## proxyUrl: URL of a proxy that should be used for scraping.
    ##
    proxyUrl: ""

    relabelings: []
    metricRelabelings: []
    interval: ""
    scrapeTimeout: ""

    ## SampleLimit defines per-scrape limit on number of scraped samples that will be accepted.
    ##
    sampleLimit: 0

    ## TargetLimit defines a limit on the number of scraped targets that will be accepted.
    ##
    targetLimit: 0

    ## Per-scrape limit on number of labels that will be accepted for a sample. Only valid in Prometheus versions 2.27.0 and newer.
    ##
    labelLimit: 0

    ## Per-scrape limit on length of labels name that will be accepted for a sample. Only valid in Prometheus versions 2.27.0 and newer.
    ##
    labelNameLengthLimit: 0

    ## Per-scrape limit on length of labels value that will be accepted for a sample. Only valid in Prometheus versions 2.27.0 and newer.
    ##
    labelValueLengthLimit: 0

# Enable vertical pod autoscaler support
verticalPodAutoscaler:
  enabled: false

  # Recommender responsible for generating recommendation for the object.
  # List should be empty (then the default recommender will generate the recommendation)
  # or contain exactly one recommender.
  # recommenders:
  # - name: custom-recommender-performance

  # List of resources that the vertical pod autoscaler can control. Defaults to cpu and memory
  controlledResources: []
  # Specifies which resource values should be controlled: RequestsOnly or RequestsAndLimits.
  # controlledValues: RequestsAndLimits

  # Define the max allowed resources for the pod
  maxAllowed: {}
  # cpu: 200m
  # memory: 100Mi
  # Define the min allowed resources for the pod
  minAllowed: {}
  # cpu: 200m
  # memory: 100Mi

  updatePolicy:
    # Specifies minimal number of replicas which need to be alive for VPA Updater to attempt pod eviction
    # minReplicas: 1
    # Specifies whether recommended updates are applied when a Pod is started and whether recommended updates
    # are applied during the life of a Pod. Possible values are "Off", "Initial", "Recreate", and "Auto".
    updateMode: Auto
