{{ $root := . }}
{{ $monitorDefaults := .Values.prometheus.metricProbes }}
{{- range .Values.prometheus.metricProbes.probes }}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ template "azure-metrics-exporter.fullname" $root }}-{{ .name }}
  namespace: {{ template "azure-metrics-exporter.namespace" $root }}
  {{- with $root.Values.prometheus.monitor.additionalAnnotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{ include "azure-metrics-exporter.labels" $root | nindent 4 }}
    {{- with $root.Values.prometheus.monitor.additionalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  jobLabel: {{ default "app.kubernetes.io/name" $monitorDefaults.jobLabel }}
  {{ include "servicemonitor.scrapeLimits" $monitorDefaults | indent 2 }}
  selector:
    matchLabels: {{- include "azure-metrics-exporter.selectorLabels" $root | nindent 6 }}
  {{- if .Values.prometheus.monitor.namespaceSelector }}
  namespaceSelector: {{ toYaml .Values.prometheus.monitor.namespaceSelector | nindent 4 }}
  {{- else }}
  namespaceSelector:
    matchNames:
      - {{ template "azure-metrics-exporter.namespace" . }}
  {{- end }} 
  endpoints:
    - port: {{ $root.Values.service.portName }}
      scheme: {{ (default $monitorDefaults.scheme .scheme) }}
      path: {{ (default $monitorDefaults.path .path) }}
    {{- with (default $monitorDefaults.basicAuth .basicAuth) }}
      basicAuth: {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with (default $monitorDefaults.bearerTokenFile .bearerTokenFile) }}
      bearerTokenFile: {{ . }}
    {{- end }}
    {{- with (default $monitorDefaults.tlsConfig .tlsConfig) }}
      tlsConfig: {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with (default $monitorDefaults.proxyUrl .proxyUrl) }}
      proxyUrl: {{ . }}
    {{- end }}
    {{- with (default $monitorDefaults.interval .interval) }}
      interval: {{ . }}
    {{- end }}
    {{- with (default $monitorDefaults.scrapeTimeout .scrapeTimeout) }}
      scrapeTimeout: {{ . }}
    {{- end }}
    {{- with (default $monitorDefaults.relabelings .relabelings) }}
      relabelings: {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with (default $monitorDefaults.metricRelabelings .metricRelabelings) }}
      metricRelabelings: {{- toYaml . | nindent 8 }}
    {{- end }}
      params:
        {{- with (merge .params $monitorDefaults.params) }}
        {{ toYaml . | nindent 8 }}
        {{- end }}
{{- end }}
