{{- $secretHash := include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "azure-metrics-exporter.fullname" . }}
  namespace: {{ template "azure-metrics-exporter.namespace" . }}
  labels: {{ include "azure-metrics-exporter.labels" . | nindent 4 }}
spec:
  {{- with .Values.replicas }}
  replicas: {{ . }}
  {{- end }}
  {{- with .Values.strategy }}
  strategy: {{ toYaml . | nindent 4 }}
  {{- end }}

  selector:
    matchLabels: {{ include "azure-metrics-exporter.selectorLabels" . | nindent 6 }}

  minReadySeconds: {{ .minReadySeconds }}
  template:
    metadata:
      labels:
        {{- include "azure-metrics-exporter.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- if or (.Values.podAnnotations) (.Values.secrets) }}
      annotations:
        {{- if .Values.secrets }}
        checksum/secret: {{ $secretHash | quote }}
        {{- end }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name | quote }}
      priorityClassName: {{ .Values.priorityClassName | quote }}

      securityContext: {{ toYaml .Values.securityContext | nindent 8 }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}

      containers:
        #######################
        # Kube pool manager
        #######################
        - name: azure-metrics-exporter
          image: {{ include "azure-metrics-exporter.image" . | quote }}
          imagePullPolicy: {{ .Values.image.pullPolicy | quote }}

          securityContext: {{ toYaml .Values.containerSecurityContext | nindent 12 }}
          env:
          {{- range $index, $val := .Values.secrets }}
            - name: {{ $index | quote }}
              valueFrom:
                secretKeyRef:
                  name: {{ template "azure-metrics-exporter.fullname" $ }}
                  key: {{ $index | quote }}
          {{- end }}
          {{- range $name, $value := .Values.env }}
            - name: {{ $name | quote }}
              value: {{ $value | quote }}
          {{- end }}
          {{- with .Values.extraEnv }}
            {{- tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: 8080
              name: http-metrics
              protocol: TCP
          {{- with .Values.extraVolumeMounts }}
          volumeMounts:
          {{- toYaml . | nindent 12 }}
          {{- end }}

{{- with .Values.resources }}
          resources: {{ toYaml . | nindent 12 }}
{{- end }}
{{- with .Values.startupProbe }}
          startupProbe: {{ toYaml . | nindent 12 }}
{{- end }}
{{- with .Values.livenessProbe }}
          livenessProbe: {{ toYaml . | nindent 12 }}
{{- end }}
{{- with .Values.readinessProbe }}
          readinessProbe: {{ toYaml . | nindent 12 }}
{{- end }}

{{- with .Values.nodeSelector }}
      nodeSelector: {{ toYaml . | nindent 8 }}
{{- end }}
{{- with .Values.affinity }}
      affinity: {{ toYaml . | nindent 8 }}
{{- end }}
{{- with .Values.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
{{- end }}
{{- if .Values.imagePullSecrets }}
      imagePullSecrets:  {{ toYaml .Values.imagePullSecrets | nindent 8 }}
{{- with .Values.extraVolumes }}
      volumes:
      {{- toYaml . | nindent 8 }}
{{- end }}
